.span {
    display: block;
}

h1 {
    display: inline;
    font-family: "Sofadi One", system-ui;
}

div {
    display: block;
    
    
}

button {
    background-color: red;
    color: white;
    transition: color 3s;
}

button:click {
    color: green;
}